USE [master]
GO
/****** Object:  Database [Hexashop]    Script Date: 12/18/2023 7:13:06 PM ******/
CREATE DATABASE [Hexashop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hexashop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hexashop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hexashop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hexashop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hexashop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hexashop]
GO
/****** Object:  Table [dbo].[tbl_Admin]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Admin](
	[Amin_ID] [int] IDENTITY(1,1) NOT NULL,
	[Admin_Username] [varchar](50) NOT NULL,
	[Admin_Password] [varchar](10) NOT NULL,
	[Users_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Amin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Category]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Category](
	[Cat_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ClothType]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ClothType](
	[Cloth_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cloth_Type] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cloth_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Colors]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Colors](
	[Color_ID] [int] IDENTITY(1,1) NOT NULL,
	[Color] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Color_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Customer]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customer](
	[Cust_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cust_Name] [varchar](50) NOT NULL,
	[Cust_Email] [varchar](50) NOT NULL,
	[Cust_Phone] [int] NULL,
	[Cust_Addredd] [varchar](50) NOT NULL,
	[Users_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cust_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cust_Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Gender]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Gender](
	[Gender_ID] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Gender_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OrderDetail]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OrderDetail](
	[SO_ID] [int] NULL,
	[Prod_ID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Order_Price] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OrderMaster]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OrderMaster](
	[SO_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cust_ID] [int] NULL,
	[Pay_ID] [int] NULL,
	[Delivery_Addredd] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Payment]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Payment](
	[Pay_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pay_Method] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pay_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ProductDetails]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ProductDetails](
	[Prod_ID] [int] NULL,
	[Color_ID] [int] NULL,
	[Size_ID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Curr_Price] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Products]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Products](
	[Prod_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cloth_Type_ID] [int] NULL,
	[Category_ID] [int] NULL,
	[Gender_ID] [int] NULL,
	[Prod_Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Prod_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Size]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Size](
	[Size_ID] [int] IDENTITY(1,1) NOT NULL,
	[Size] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Size_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 12/18/2023 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[Users_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Type] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Users_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Admin]  WITH CHECK ADD FOREIGN KEY([Users_ID])
REFERENCES [dbo].[tbl_User] ([Users_ID])
GO
ALTER TABLE [dbo].[tbl_Customer]  WITH CHECK ADD FOREIGN KEY([Users_ID])
REFERENCES [dbo].[tbl_User] ([Users_ID])
GO
ALTER TABLE [dbo].[tbl_OrderDetail]  WITH CHECK ADD FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[tbl_Products] ([Prod_ID])
GO
ALTER TABLE [dbo].[tbl_OrderDetail]  WITH CHECK ADD FOREIGN KEY([SO_ID])
REFERENCES [dbo].[tbl_OrderMaster] ([SO_ID])
GO
ALTER TABLE [dbo].[tbl_OrderMaster]  WITH CHECK ADD FOREIGN KEY([Cust_ID])
REFERENCES [dbo].[tbl_Customer] ([Cust_ID])
GO
ALTER TABLE [dbo].[tbl_OrderMaster]  WITH CHECK ADD FOREIGN KEY([Pay_ID])
REFERENCES [dbo].[tbl_Payment] ([Pay_ID])
GO
ALTER TABLE [dbo].[tbl_ProductDetails]  WITH CHECK ADD FOREIGN KEY([Color_ID])
REFERENCES [dbo].[tbl_Colors] ([Color_ID])
GO
ALTER TABLE [dbo].[tbl_ProductDetails]  WITH CHECK ADD FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[tbl_Products] ([Prod_ID])
GO
ALTER TABLE [dbo].[tbl_ProductDetails]  WITH CHECK ADD FOREIGN KEY([Size_ID])
REFERENCES [dbo].[tbl_Size] ([Size_ID])
GO
ALTER TABLE [dbo].[tbl_Products]  WITH CHECK ADD FOREIGN KEY([Category_ID])
REFERENCES [dbo].[tbl_Category] ([Cat_ID])
GO
ALTER TABLE [dbo].[tbl_Products]  WITH CHECK ADD FOREIGN KEY([Cloth_Type_ID])
REFERENCES [dbo].[tbl_ClothType] ([Cloth_Type_ID])
GO
ALTER TABLE [dbo].[tbl_Products]  WITH CHECK ADD FOREIGN KEY([Gender_ID])
REFERENCES [dbo].[tbl_Gender] ([Gender_ID])
GO
USE [master]
GO
